<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AsturDron | LSU</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
</body>
</html>
<div id="meteorologia">
    <div class="dia">
        <h3>Lunes</h3>
        <i class="fas fa-cloud"></i>
    </div>
    <div class="dia">
        <h3>Martes</h3>
        <i class="fas fa-sun"></i>
    </div>
    <div class="dia">
        <h3>Miércoles</h3>
        <i class="fas fa-wind"></i>
    </div>
    <div class="dia">
        <h3>Jueves</h3>
        <i class="fas fa-cloud-rain"></i>
    </div>
</div>