<div id="noticias">
    <div class="widget">
        <img src="../../assets/fondo.jfif" alt="imagen">
        <p>Nuevo modelo de dron plegable lanzado al mercado</p>
        <button>Leer más</button>
    </div>
    <div class="widget">
        <img src="../../assets/fondo.jfif" alt="imagen">
        <p>Campeonato de carreras de drones: resúmen del evento</p>
        <button>Leer más</button>
    </div>
    <div class="widget">
        <img src="../../assets/fondo.jfif" alt="imagen">
        <p>Cambios en las normativas para el uso de drones</p>
        <button>Leer más</button>
    </div>
</div>