<div id="contenedor">
    <div id="cabecera">
        <h1 id="nombre">AsturDron</h1>
        <div id="login"><a href="inicio/inicio.component.html"><i class="fas fa-sign-in-alt"></i></a></div>
    </div>
    <div id="pantalla">
        <form>
            <h2>Inicio de Sesión</h2>
            <label>User</label>
            <input type="text" placeholder="nombre de usuario">
            <br>
            <label>Password</label>
            <input type="password">
        </form>
    </div>
    <footer id="pie"> © AsturDron - por Llarina Sanz Uría</footer>
</div>