<div id="select">
    <button>Fotos</button>
    <button>Vídeos</button>
    <button>Ranking</button>
</div>

<div id="galeria">
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
    <div class="imagen">
        <p>username</p>
        <img src="../../assets/fondo.jfif" alt="imagen">
    </div>
</div>